.admin-accept-btn {
    background-color: rgb(2, 231, 52);
    color: white;
    font-family: Afacad;
    border: 2px solid rgb(0, 211, 18);
    border-radius: 4px;
    padding: 2px 7px;
    cursor: pointer;
}

.admin-deny-btn {
    background-color: rgb(224, 4, 4);
    color: white;
    font-family: Afacad;
    border: 2px solid rgb(141, 0, 0);
    border-radius: 4px;
    padding: 2px 7px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px;
}

.pop-up-text {
    margin: 0 5px 0 0;
}


.potvrditi {
    color: white;
    background-color: rgb(2, 231, 52);
    color: white;
    font-family: Afacad;
    border: 2px solid rgb(0, 211, 18);
    border-radius: 4px;
    padding: 2px 7px;
}

.odbiti{
    background-color: rgb(224, 4, 4);
    color: white;
    font-family: Afacad;
    border: 2px solid rgb(141, 0, 0);
    border-radius: 4px;
    padding: 2px 7px;
    cursor: pointer;
    font-weight: bold;
}

.popUpActive {
    display: flex;
}