.admin-accept-btn {
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: Afacad;
    border: none;
    border-radius: 25px;
    padding: 4px 14px;
    cursor: pointer;
}

.admin-deny-btn {
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: Afacad;
    border: none;
    border-radius: 25px;
    padding: 4px 14px;
    cursor: pointer;
    margin: 0 5px;
}

.admin-delete-btn {
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: Afacad;
    border: none;
    border-radius: 25px;
    padding: 4px 14px;
    cursor: pointer;
    margin: 0 5px;
}

.pop-up-text {
    margin: 0 5px 0 0;
    font-family: Afacad;
}


/* .potvrditi {

} */

/* .odbiti{

} */

.popUpActive {
    display: flex;
}

.booking-application {
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
}

.admin-buttons {
    padding: 20px 0 0 0;
}